[Desktop Entry]
Name=Display Calc
GenericName=Display information calculator
Comment=Calculate display and monitor information like DPI
Categories=Utility;
Exec=com.github.cassidyjames.display-calc
Icon=preferences-desktop-display
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=display-calc
Keywords=DPI;density;monitor;resolution;display;width;height;screen;

