@define-color accent_color @purple_5;
@define-color accent_bg_color @purple_3;

.title-1 {
  font-size: 225%;
}

.body {
  line-height: 1.25;
}

.link {
  margin: 0;
  padding: 0;
}

statuspage > scrolledwindow > viewport > box {
  margin: 0 24px 24px;
}

.sidebar-pane,
navigation-split-view > navigation-view > navigation-view-page#calculate {
  background-color: alpha(@accent_bg_color, 0.1);
}
