@define-color accent_color @purple_5;
@define-color accent_bg_color @purple_3;

.old .title-1 {
  font-size: 225%;
}

.body {
  line-height: 1.25;
}

/* .link { */
/*   margin: 0; */
/*   padding: 0; */
/* } */

.sidebar-pane {
  background: none;
}

statuspage > scrolledwindow > viewport {
  padding: 24px 12px 12px;
}

statuspage > scrolledwindow > viewport > box {
  margin: 0;
}

#calculate {
  background-color: alpha(@accent_bg_color, 0.1);
}

statuspage image.icon {
  margin-bottom: 0;
}

#calculate statuspage image.icon {
  -gtk-icon-shadow:
    0 1px 12px rgba(0, 0, 0, 0.05),
    0 -1px rgba(0, 0, 0, 0.05),
    1px 0 rgba(0, 0, 0, 0.1),
    0 1px rgba(0, 0, 0, 0.3),
    -1px 0 rgba(0, 0, 0, 0.1);
}

/* FIXME: terrible, terrible, I should feel bad. Well, not that bad. */
.edit-icon {
  -gtk-icon-size: 1px;
  margin: 0;
  opacity: 0;
  padding: 0;
  min-height: 0;
  min-width: 0;
}

overlay headerbar {
  background: transparent;
  border: none;
  box-shadow: none;
}
