---

name: Release

on:
  pull_request:
    branches: main
    types: closed

jobs:
  create_release:
     name: Create Release
     runs-on: ubuntu-latest

     if: github.event.pull_request.merged == true && true == contains(join(github.event.pull_request.labels.*.name), 'Release')

     steps:
       - name: Checkout
         uses: actions/checkout@v2
       
       - name: Release
         uses: elementary/actions/release@master
         env:
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         with:
           release_branch: 'odin'
